{% extends "backend/home.html" %}

{% block title%}Guru Registration{% endblock%}
{% block content %}
<a href="/backend/studentRegistration">Not Guru? Student Registration here</a>
{% if messages %}
<div>
    {% for message in messages %}
    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
</div>


</header>
<form id="contact" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">

            <div class="section-heading">
                <br><br>

                <h2>Guru Registration</h2>
                <br><br>
            </div>
        </div>

        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <input
                                type="text"
                                name="name"
                                id="name"
                                placeholder="Name"
                                value="{{ form.name.value|default:'' }}"
                                required
                        />
                        {% if form.name.errors %}
                        <span class="text-danger">{{ form.name.errors }}</span>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <input
                                type="text"
                                name="mobile_number"
                                id="mobile_number"
                                placeholder="Contact Number"
                                value="{{ form.mobile_number.value|default:'' }}"
                                required
                        />
                        {% if form.mobile_number.errors %}
                        <span class="text-danger">{{ form.mobile_number.errors }}</span>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Your Email"
                                value="{{ form.email.value|default:'' }}"
                                required
                        />
                        {% if form.email.errors %}
                        <span class="text-danger">{{ form.email.errors }}</span>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <input
                                type="url"
                                name="profile"
                                id="profile"
                                placeholder="Profile Photo URL"
                                value="{{ form.profile.value|default:'' }}"
                                required
                        />
                        {% if form.profile.errors %}
                        <span class="text-danger">{{ form.profile.errors }}</span>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Password"
                                value="{{ form.password.value|default:'' }}"
                                required
                        />
                        {% if form.password.errors %}
                        <span class="text-danger">{{ form.password.errors }}</span>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <input
                                type="password"
                                name="confirm_password"
                                id="confirm_password"
                                placeholder="Confirm Password"
                                value="{{ form.confirm_password.value|default:'' }}"
                                required
                        />
                        {% if form.confirm_password.errors %}
                        <span class="text-danger">{{ form.confirm_password.errors }}</span>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <input
                                type="text"
                                name="name_of_institute"
                                id="name_of_institute"
                                placeholder="Name of Institute"
                                value="{{ form.name_of_institute.value|default:'' }}"
                                required
                        />
                        {% if form.name_of_institute.errors %}
                        <span class="text-danger">{{ form.name_of_institute.errors }}</span>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                <textarea
                        name="address_of_institute"
                        id="address_of_institute"
                        placeholder="Address of Institute"
                        required
                >{{ form.address_of_institute.value|default:'' }}</textarea>
                        {% if form.address_of_institute.errors %}
                        <span class="text-danger">{{ form.address_of_institute.errors }}</span>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <button type="reset" class="btn btn-danger" style="background: red">
                        Reset
                    </button>
                </div>
                <div class="col-lg-6">
                    <button type="submit" class="main-button">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}


